<h1>Home page</h1>
<p><%= @message %></p>
<hr>
<p>
  <a href="/">/</a>
</p>
<p>
  <a href="/prices">/prices</a>
</p>
<p>
  <a href="/api/sample">/api/sample</a>
</p>
<p>
  <a href="/api/prices">/api/prices</a>
</p>